controller:
  hostNetwork: {{ .Values | get "ingressHostnetwork" true }}
  hostPort:
    enabled: true
    ports:
      http: 80
      https: 443
  service:
    enabled: true
    type: ClusterIP
  kind: {{ .Values | get "ingressKind" "DaemonSet" }}
