master:
  persistence:
    enabled: true
    storageClass: {{ .Values | get "storageClass" "local-path" }}
    size: 8Gi
replica:
  replicaCount: 3
  persistence:
    enabled: true
    storageClass: {{ .Values | get "storageClass" "local-path" }}
    size: 8Gi
auth:
  enabled: true
  sentinel: true
  password: {{ .Values | get "password" "secret" }}
