username: tosone
email: i@tosone.cn
password: secret
storageClass: local-path
namespace: test
database: database

ingressHostnetwork: true
ingressKind: DaemonSet

certIssuer: letsencrypt-prod

domain:
  git: git.tosone.cn
